{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1>Смена пароля</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>Мы отправили вам электронное письмо. Если вы не получили его, пожалуйста, проверьте свою папку со спамом.
        В противном случае свяжитесь с <a href="https://t.me/laugra111">нами</a>, если вы не получите его в течение нескольких минут.</p>
{% endblock %}
