{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1>Подтверждение E-mail адреса</h1>

    <p>Мы отправили вам электронное письмо для подтверждения. Перейдите по предоставленной ссылке, чтобы завершить процесс регистрации.
        Если вы не видите письмо с подтверждением в своем основном почтовом ящике, проверьте папку "Спам".
        Пожалуйста, свяжитесь с <a href="https://t.me/laugra111">нами</a>, если вы не получите электронное письмо с подтверждением в течение нескольких минут.</p>

{% endblock %}
