{% extends 'shop/base_shop.html' %}

{% block title %}
    Ваш баланс - SveshShop
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="card mt-5 border-dark">
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="card-text mt-5 mb-5">Ваш баланс - {{ balance.amount }} руб.</h4>
                        <a href="{% url 'choose_payment_system_url' %}" class="btn btn-outline-success">+ Пополнить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
