{% extends 'shop/base_shop.html' %}

{% block title %}
    Ваш баланс - SveshShop
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="card mt-5 border-dark">
                <div class="card-body">
                    <div class="text-center">
                        {% if user.is_authenticated %}
                            <h4 class="card-text mt-2 mb-4">Ваш баланс - {{ balance.amount }} руб.</h4>
                            <a href="{% url 'choose_payment_system_url' %}" class="btn btn-outline-success mb-2">+ Пополнить</a>
                        {% else %}
                            <div class="text-center">
                                <a href="{% url 'account_login' %}" class="h5 btn btn-outline-success">Для просмотра баланса войдите/зарегистрируйтесь</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
