{% extends 'shop/base_shop.html' %}

{% block title %}
    Договор оферты - SveshShop
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="card mt-5">
                <div class="text-center">
                    <div class="card-header">
                        <h3 class="card-text border-bottom">Договор оферты</h3>
                    </div>
                    <div class="card-body">
                        Оферта<br>
                        ПУБЛИЧНАЯ ОФЕРТА<br>
                        <br>
                        договора купли-продажи товара<br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        Настоящий документ является официальным предложением (публичной Офертой) accs-shop.com), в дальнейшем именуемого «Продавец», к неограниченному кругу физических лиц, согласившихся с условиями настоящей Публичной Оферты, именуемым в дальнейшем «Покупатель».<br>
                        <br>
                        В соответствии со ст. 437 Гражданского Кодекса Российской Федерации (далее по тексту - ГК РФ) данный документ является публичной офертой, и в случае принятия изложенных ниже условий, физическое  или юридическое лицо, производящее акцепт данной оферты, осуществляет оплату и приемку Товара Продавца в соответствии с условиями, порядком и сроками, предусмотренными настоящей Офертой.<br>
                        <br>
                        В связи с этим Покупателю рекомендовано внимательно ознакомится с текстом настоящей Оферты (включая правки, вносимые с течением времени), размещенным на Сайте https://accs-shop.com/(далее – Сайт), а в случае несогласия Покупателю предлагается отказаться от покупки Товаров, предлагаемых Продавцом.<br>
                        <br>
                        Продавец оставляет за собой право изменять условия настоящей Оферты, размещая обновленную версию документа на Сайте. Датой вступления в силу изменений настоящей Оферты является дата их опубликования на Сайте.<br>
                        <br>
                        Настоящий Договор-Оферта не требует двустороннего подписания, считается заключенным с момента его акцепта Покупателем и действителен в электронном виде.<br>
                        <br>
                        <br>
                        <br>
                        ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ<br>
                        Для целей настоящей Оферты нижеприведенные термины и определения используются в следующем значении:<br>
                        Сайт — это совокупность связанных между собой веб-страниц, размещенных в сети Интернет, имеющих доменное имя https://accs-shop.com/.<br>
                        Интернет-магазин - интернет – магазин ACCS-SHOP.COM, расположенный в сети Интернет по адресу https://accs-shop.com/, посредством которого Продавец осуществляет продажу Товара дистанционным способом.<br>
                        Продавец – accs-shop.com), в лице своих уполномоченных сотрудников осуществляющий администрирование Сайта и реализующее Товар.<br>
                        Покупатель – любое физическое лицо, имеющее доступ к Сайту, посредством сети Интернет, принимающее условия настоящей Оферты и использующее Сайт для размещения Заказа в Интернет-магазине;<br>
                        Заказ – запрос Покупателя на приобретение и доставку по указанному Покупателем электронному адресу Товаров, выбранных в Интернет-магазине, оформленный в порядке, указанном в настоящей Оферте.<br>
                         Товар — интернет- аккаунты, представленные к продаже в Интернет-магазине на главной странице Сайта.<br>
                        Оферта – публичное предложение Продавца, адресованное любому лицу, заключить с ним договор купли-продажи (далее - Договор) на существующих условиях, содержащихся в Договоре, включая все его приложения.<br>
                        Договор-оферта - договор между Продавцом и Покупателем, который заключается посредством акцепта оферты.<br>
                        Акцепт —осуществление в совокупности всех нижеперечисленных действий:<br>
                        ознакомление Покупателя с условиями Оферты;<br>
                        регистрация на сайте;<br>
                        выбор Покупателем Товара;<br>
                        оформление Покупателем заказа на Товар.<br>
                        оплата Товара.<br>
                        Факт оплаты Товара Покупателем является безоговорочным фактом принятия Покупателем условий Оферты. Покупатель, приобретший товар в Интернет-магазине Продавца (оформивший заказ товара и оплативший Заказ), рассматривается как лицо, вступившее с продавцом в отношения на условиях настоящего Договора.<br>
                        <br>
                         Форма Заказа — html-форма, которую Покупатель заполняет своими персональными данными на Сайте для заказа Товара.<br>
                        Личный кабинет - совокупность защищенных персонализированных страниц Покупателя на Сайте, создаваемых при регистрации Покупателя, посредством которых осуществляется использование Сайта и взаимодействие Сторон.  Доступ в личный кабинет осуществляется после регистрации путем ввода аутентификационных данных Покупателя.<br>
                        Аутентификационные данные — уникальный идентификатор (логин) и пароль Покупателя., используемые для доступа в личный кабинет. В качестве логина используется адрес электронной почты, указанный Покупателем при регистрации на Сайте.<br>
                        Контент и материалы — любые размещенные на Сайте или содержащиеся в рассылке объекты интеллектуальной собственности Продавца в форме текстов, изображений, рисунков, фотографий, графиков, видео, программ, звуков, Покупательских интерфейсов, логотипов, торговых марок, компьютерных кодов, которые являются содержанием Сайта, и/или размещены на Сайте, с согласия Продавца, а также совокупность информационных материалов, рассылаемых Покупателям по электронной почте.<br>
                        Программное обеспечение (ПО) — браузер (Internet Explorer, FireFox, Google Chrome и аналогичные) для доступа к информационным ресурсам, находящихся в сети Интернет, иные программы для передачи, хранения, обработки предоставляемой информации. Покупатель обязуется самостоятельно обеспечить наличие ПО на своем персональном компьютере.<br>
                         Персональные данные Покупателя — имя и фамилия, адрес электронной почты, телефон и любая информация, относящаяся к прямо или косвенно определяемому, или определенному лицу, позволяющая определить субъекта персональных данных. Обязательная для предоставления информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение.<br>
                        Обработка персональных данных — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.<br>
                        В случае если в настоящей Оферте используются термины, не указанные в п. 1.1, то они подлежат использованию и толкованию в соответствии с действующим законодательством, и обычаями делового оборота, сложившимися в сети Интернет.<br>
                        <br>
                        <br>
                        ПРЕДМЕТ ОФЕРТЫ<br>
                        Продавец обязуется передать в собственность Покупателя Товар в соответствии с действующим прейскурантом, опубликованным в интернет-магазине Продавца на сайте,  в котором определены наименование, ассортимент, количество и цена товара, а Покупатель производит оплату и принимает Товар в соответствии с условиями настоящего Договора.<br>
                        С полной информацией о Товаре Покупатель может ознакомиться самостоятельно на Сайте.<br>
                        В предмет договора входит только продажа Товара. Продавец не оказывает услуги консультирования, услуги обучения Покупателей пользованию Товарами и другие услуги.<br>
                        Продавец не устанавливает на Товар никаких гарантий, помимо гарантий, указанных в разделе 7. Оферты.<br>
                        Бронирование товара по электронной почте или по телефону не допускается.<br>
                        С момента выполнения действий, указанных в п. 1.1.11 настоящей Оферты настоящий Договор считается заключенным между Покупателем и Продавцом (пункт 3 статьи 438 Гражданского кодекса Российской Федерации).<br>
                        Акцепт предполагает, что Покупатель ознакомлен с условиями, порядком оказания и оплаты Товара, а также что продажа Товара осуществляется дистанционно с использованием программного обеспечения Продавцу и полностью соответствует возможности Покупателя приобрести Товар, реализуемый таким способом.<br>
                        Продавец оставляет за собой право изменять условия Оферты, и, соответственно, настоящего Договора в одностороннем порядке без предварительного согласования с Покупателем. Поэтому Продавец рекомендует Покупателю регулярно проверять условия настоящего Договора на предмет его изменения и/или дополнения. Действующая редакция постоянно размещена на Сайте.<br>
                        Покупатель соглашается, что внесение изменений и дополнений в настоящую Оферту влечет за собой внесение изменений и дополнений в уже заключенный путем Акцепта, и действующий между Продавцом и Покупателем Договор, и они вступают в силу одновременно с такими изменениями в настоящем Договоре.<br>
                        <br>
                        <br>
                        СТОИМОСТЬ ТОВАРА<br>
                        Стоимость Товара указана на Сайте и определяется в рублях Российской Федерации, включает в себя налог на добавленную стоимость.<br>
                        Покупатель оплачивает Товар путем 100% (Сто) - процентной предоплаты на расчётный счет Продавца по своему выбору одним из следующих способов:<br>
                        банковской картой (платежных систем Visa, MasterCard, Maestro, МИР);<br>
                        путем электронной платежной системы QIWI;<br>
                        путем платежной сети Bitcoin;<br>
                        Датой оплаты считается дата зачисления денежных средств на расчетный счет Продавца<br>
                        Продавец вправе в любое время в одностороннем порядке изменять цену Товара. Публикация указанных изменений производиться на Сайте. Покупатель безусловно соглашается с тем, что Продавец не обязан информировать Покупателя о каждом изменении цены на тот или иной Товар.<br>
                        Покупатель вправе подтвердить либо аннулировать Заказ на приобретение Товара, если цена изменена Продавцом после оформления Заказа.<br>
                        Продавец вправе проводить акции по продаже товаров по специальным ценам (со скидками).<br>
                        <br>
                        <br>
                        ПРАВА, ОБЯЗАННОСТИ И ОТВЕТСТВЕННОСТЬ СТОРОН<br>
                        <br>
                        <br>
                        Обязанности Продавца:<br>
                        Передать Покупателю надлежащего качества и в установленный срок.<br>
                        В случае возникновения обстоятельств, препятствующих выполнению заказа, немедленно уведомить об этом Покупателя для дальнейшего согласования последующих действий.<br>
                        Передать товар свободным от любых прав и притязаний третьих лиц, о которых в момент заключения договора Продавец знал или не мог не знать.<br>
                        Осуществлять техническую поддержку Пользователя в течение 24 часов с момента запроса;<br>
                        Права Продавца:<br>
                        Изменять условия осуществления Заказа;<br>
                        Требовать своевременной и в полном размере оплаты Товара Покупателем;<br>
                        Обязанности Покупателя:<br>
                        Внимательно ознакомиться с содержанием настоящей Оферты и соблюдать ее условия.<br>
                        Оплатить Товар в сумме и в сроки, определенные настоящим Договором.<br>
                        Использовать Товар только для законных целей и законными способами с учетом законодательства РФ и международных норм.<br>
                        Предоставлять персональные и иные данные для осуществления Заказа, соглашаясь с тем, что вся информация, которую Покупатель предоставляет в момент регистрации аккаунта, является точной, достоверной, актуальной и полной.<br>
                        Права Покупателя:<br>
                        Требовать передачи Товара в срок;<br>
                        <br>
                        <br>
                        ОФОРМЛЕНИЕ ЗАКАЗА<br>
                        <br>
                        <br>
                        Для того, чтобы приобрести Товар, Покупатель обязан совершить нижеуказанные действия:<br>
                        Провести регистрацию на сайте путём нажатия кнопки «Регистрация», а именно предоставить свои регистрационные данные (Ф.И.О. адрес электронной почты, контактные телефоны).<br>
                        Ознакомится с описанием к выбранному товару, нажав на него и перейдя на новую страницу;<br>
                        Нажать кнопку «Купить». Ввести адрес электронной почты, на который будет направлен Товар, ввести нужное количество товара.<br>
                        Согласиться с правилами магазина и нажать кнопку нужного способа оплаты.<br>
                        После успешной оплаты нажать кнопку "Проверить оплату", нажать на появившуюся ссылку для скачивания и скачать аккаунты.<br>
                        После получения оплаты за Товар Продавец направляет Товар на электронную почту, указанную при оформлении Заказа.<br>
                        Если Покупатель не получил на почту аккаунты в автоматическом режиме (сбой в системе оплаты, забыли указать примечание), ему необходимо обратиться к техподдержки Продавца по адресу https://accs-shop.com/page/kontakty, указав номер заказа (примечание, которое Покупатель указал при оплате).<br>
                        <br>
                        <br>
                        ПРАВИЛА ИСПОЛЬЗОВАНИЯ ТОВАРА<br>
                        <br>
                        <br>
                        При использовании Товара Покупателю запрещается:<br>
                        Использовать свой оригинальный (локальный, домашний) IP-адрес;<br>
                        Использовать VPN-сервисы (платные, бесплатные);<br>
                        Использовать виртуальные машины, эмуляторы устройств, сервера (VPS, VDS);<br>
                        Использовать IPv6 – прокси, shared прокси, публичные прокси;<br>
                        Авторизовываться в 2-х и более аккаунтах, используя 1 устройство и 1 прокси-сервер.<br>
                        Для 1 аккаунта Покупателем должен использоваться 1 приватный прокси-сервер IPv4 или приватные мобильные прокси и 1 новое устройство (как минимум новый UserAgent и/или куки и/или специализированная программа), а в лучшем случае Антидитект браузер.<br>
                        Покупатель обязан прочитать подробное описание к Товару;<br>
                        В случае длительного использования купленных аккаунтов, Покупатель обязан изменить пароли на них и самостоятельно заботиться об их безопасности.
                        <br>
                        <br>
                         ГАРАНТИЯ И ВОЗВРАТ<br>
                         <br>
                        <br>
                        Продавец гарантирует:<br>
                        Работоспособность аккаунтов в течение 24 часов после покупки, при условии соблюдения настоящей Оферты, Правил работы с аккаунтами, которые размещены на Сайте и активной гарантии (активная гарантия = не аннулированная);<br>
                        Продажу аккаунтов в «одни руки», то есть продажу одного Товара одному Покупателю;
                        Замену аккаунтов в случае невалидности (работоспособности) по вине Продавца, то есть в случ<br>ае, если аккаунт заблокирован, аккаунт удален, неверные данные для входа в аккаунт, при условии активной гарантии (активная гарантия = не аннулированная);<br>
                        Возврат денежных средств, если невалидный аккаунт заменить невозможно. Возврат может быть осуществлен только на баланс Личного кабинета Покупателя.
                        Гарантия на Товар аннулируется в случае нарушения Покупателем раздела 6 Оферты.<br>
                        Продавец не осуществляет возврат денежных средств:<br>
                        7.3.1. за Товар при аннулированной гарантии.<br>
                        <br>
                        7.3.2. за валидные аккаунты в случае, если Покупатель ошибся при выборе Товара.<br>
                        <br>
                        Продавец не меняет изначально валидные аккаунты в случае, если после покупки Покупатель вошел в аккаунт и произвел какие-то действия, после чего аккаунт был заблокирован.<br>
                        <br>
                        <br>
                        <br>
                        <br>
                        ОТВЕТСТВЕННОСТЬ СТОРОН<br>
                        За неисполнение условий, предусмотренных настоящим Соглашением Стороны, Стороны несут ответственность в соответствии с нормами законодательства, действующего на территории Российской Федерации.<br>
                        Продавец не несет ответственности за несоответствие предоставленных Товаров необоснованным ожиданиям Покупателя и их субъективной оценке.<br>
                        Продавец не несет ответственности за ненадлежащее использование Товара Покупателем.<br>
                        Продавец не несет ответственности в случае неправильного выбора Покупателем характеристик или модификации Товара.<br>
                        Продавец не несет ответственности за надлежащее функционирование Сайта в случае, если Покупатель не имеет необходимых технических средств для их использования, а также не несет никаких обязательств по обеспечению Покупателей такими средствами.<br>
                        В случае нарушения сроков передачи товара более, чем на 7 рабочих дней, Продавец уплачивает Покупателю пеню в размере 0,1% от суммы договора, за каждый день просрочки до момента исполнения обязательства, но не более 10% от стоимости Заказа.<br>
                        Выплата процентов, штрафов, неустоек и т.п. не освобождает Стороны от выполнения условий, заключенных настоящим Договором.<br>
                        В случае невыполнения Покупателем обязательств, в том числе по оплате Товара или доставки, Продавец вправе приостановить исполнение Договора, штрафы, пени и неустойки за этот период не начисляются.<br>
                        <br>
                        <br>
                        ИНЫЕ ПОЛОЖЕНИЯ<br>
                        Вопросы и претензии могут быть переданы Продавцу на адрес электронной почты sveshshop@gmail.com<br>
                        Настоящий Договор представляет собой полную договоренность между Продавцом и Покупателем. Продавец не принимает на себя никаких условий и обязательств, кроме указанных в настоящем Договоре, за исключением случаев, когда такие условия или обязательства зафиксированы в письменной форме и подписаны уполномоченными представителями Продавцу и Покупателя. В случае если какие-либо условия приложений или дополнительных соглашений к настоящему Договору противоречат условиям настоящего Договора, положения настоящего Договора будут преобладать.<br>
                        <br>
                        <br>
                        <br>
                        <br>
                        РЕКВИЗИТЫ ПРОДАВЦА<br>
                        <br>
                        <br>
                        E-mail: sveshshop@gmail.com<br>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
