{% extends 'shop/base_shop.html' %}
{% block description %}
        <meta name="description" content="Список форматов данных для аккаунтов">
{% endblock %}
{% block title %}
    Список форматов - SveshShop
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        {% for format in formats %}
            <div class="col">
                <div class="card border-dark">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>{{ format.description }}</h5>
                            <br>
                            <a href="{{ format.get_absolute_url }}" class="btn btn-outline-success">{{ format.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
