{% extends 'shop/base_shop.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 mb-5">
            {% if products %}
                {% for product in products %}
                    {% include 'shop/includes/product_card_template.html' %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="row mt-5 mb-5">
            
            <div class="col-2">
            </div>
            <div class="col-8 mb-5">
                <div class="card border-dark">
                    <div class="card-header border-dark">
                        <p class="h5 mt-2 text-center text-success">Как купить</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            1) Выберите Telegram аккаунт с нужными параметрами в списке товаров и нажмите купить.<br>
                            2) Введите количество аккаунтов, которое хотите приобрести.<br>
                            3) <a href="{% url 'choose_payment_system_url' %}" class="change-color-link">Пополните баланс</a> на необходимую сумму и нажмите купить.<br>
                            4) После покупки вы получите ссылку на скачивание в разделе <a href="{% url 'purchases_list_url' %}" class="change-color-link">ваших заказов</a><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
            
            <div class="col-2">
            </div>
            <div class="col-8 mb-5">
                <div class="card border-dark">
                    <div class="card-header border-dark">
                        <p class="h5 mt-2 text-center text-success">Отлежка</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Отлежка - количество времени, которое прошло с момента регистрации аккаунта<br>
                            Наши аккаунты всегда с отлежкой - минимум 3 суток<br>
                            Точное время отлежки указано в описании товара<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
            
            <div class="col-2">
            </div>
            <div class="col-8 mb-5">
                <div class="card border-dark">
                    <div class="card-header border-dark">
                        <p class="h5 mt-2 text-center text-success">У нас дешево и качественно</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Аккаунты своего производства, что дает преимущество в цене, не уступая качеству<br>
                            Цена формируется исходя из:<br>
                            1) Цены использования сим-карты для регистрации, она разница у разных стран.<br>
                            2) Цена прокси. Мы используем только качественные мобильные прокси.<br>
                            3) Длительная отлежка может повлиять на цену аккаунта.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
            
        </div>
    </div>
{% endblock %}
