{% extends 'shop/base_shop.html' %}
{% load static %}
{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <div class="card border-dark">
                    <div class="card-header">
                        <h1 class="h3 mt-2 text-center text-success">Telegram аккаунты</h1>
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
    
        <div class="row mt-5 mb-5 bg-secondary">
            {% if products %}
                {% for product in products %}
                    {% include 'shop/includes/product_card_template.html' %}
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="row mt-5 mb-5">
            
            <div class="col-2">
            </div>
            <div class="col-8 mb-5">
                <div class="card border-dark">
                    <div class="card-header border-dark">
                        <h3 class="mt-2 text-center text-success">У нас качественно, но дошево</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            У нас вы можете купить аккаунты телеграмм дешево.<br>
                            Аккаунты своего производства, что дает преимущество в цене, не уступая качеству.<br>
                            Цена формируется исходя из:
                            <ol>
                                <li>Цены использования сим-карты для регистрации, она зависит от страны.</li>
                                <li>Цена прокси. Мы используем только качественные мобильные прокси.</li>
                                <li>Длительная отлежка может повлиять на цену аккаунта.</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
            
            <div class="col-2">
            </div>
            <div class="col-8 mb-5">
                <div class="card border-dark">
                    <div class="card-header border-dark">
                        <h3 class="mt-2 text-center text-success">Отлежка</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Отлежка - количество времени, которое прошло с момента регистрации аккаунта.<br>
                            Наши аккаунты всегда с отлежкой - минимум 3 суток.<br>
                            Точное время отлежки указано в описании товара.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
            
            <div class="col-2">
            </div>
            <div class="col-8 mb-5">
                <div class="card border-dark">
                    <div class="card-header border-dark">
                        <h3 class="mt-2 text-center text-success">Как купить</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <ol>
                                <li>
                                    Выберите Telegram аккаунт с нужными параметрами в списке товаров и нажмите купить.<br>
                                    <img class="mt-2 img-thumbnail" src="{% static 'images/buy_account_step1.png' %}" alt="buy account guide step1" width="700" height="350">
                                </li>
                                <li>
                                    Введите количество аккаунтов, которое хотите приобрести и нажмите купить.<br>
                                    <img class="mt-2 img-thumbnail" src="{% static 'images/buy_account_step2.png' %}" alt="buy account guide step2" width="700" height="350">
                                    <img class="mt-2 img-thumbnail" src="{% static 'images/buy_account_step3.png' %}" alt="buy account guide step3" width="700" height="350">
                                </li>
                                <li>
                                    Если вам не хватает денег на балансе, <a href="{% url 'choose_payment_system_url' %}" class="change-color-link">пополните баланс</a> на необходимую сумму и повторите попытку.<br>
                                    <img class="mt-2 img-thumbnail" src="{% static 'images/buy_account_step4.png' %}" alt="buy account guide step4" width="700" height="350">
                                    <img class="mt-2 img-thumbnail" src="{% static 'images/buy_account_step5.png' %}" alt="buy account guide step5" width="700" height="200">
                                </li>
                                <li>
                                    После покупки вы автоматически перейдете на страницу с заказом.<br>
                                    Заказ будет хранится в списке <a href="{% url 'purchases_list_url' %}" class="change-color-link">ваших заказов.</a><br>
                                    <img class="mt-4 img-thumbnail" src="{% static 'images/buy_account_step6.png' %}" alt="buy account guide step6" width="700" height="200">
                                </li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
            
        </div>
    </div>
{% endblock %}
