{% extends 'shop/base_shop.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 mb-5">
            {% if products %}
                {% for product in products %}
                    {% include 'shop/includes/product_card_template.html' %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-6">
                <div class="text-center">
                    <h3>Как купить</h3>
                </div>
                    <p class="text-justify">
                        1) Выберите Telegram аккаунт с нужными параметрами в списке товаров и нажмите купить.<br>
                        2) Введите количество аккаунтов, которое хотите приобрести.<br>
                        3) <a href="{% url 'choose_payment_system_url' %}" class="link-success" type="submit">Пополните баланс</a> на необходимую сумму и нажмите купить.<br>
                        4) После покупки вы получите ссылку на скачивание в <a href="{% url 'purchases_list_url' %}" class="link-success" type="submit">в ваших заказах</a><br>
                    </p>
            </div>
        </div>
    </div>
{% endblock %}
