{% extends 'shop/base_shop.html' %}
{% block description %}
        <meta name="description" content="Как авторизовать купленный аккаунт в телефоне">
{% endblock %}
{% block title %}
    Как зайти на аккаунт телеграмм в телефоне - SveshShop
{% endblock %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="card mt-5 mb-5 border-dark">
            <div class="text-left">
                <div class="card-header border-dark">
                    <h3 class="card-text text-left text-success">Как зайти в Telegram аккаунт на телефона</h3>
                </div>
                <div class="card-body">
                    <br>
                    <h5 class="text-success"></h5>
                    <br>
                    <h5 class="text-success">1.</h5>
                    Требуется формат - tdata<br>
                    <br>
                    <h5 class="text-success">2.</h5>
                    Нужно зайти в Telegram Desktop через компьютер<br>
                    <br>
                    <h5 class="text-success">3.</h5>
                    Далее заходим через телефон. Вводим номер аккаунта<br>
                    <br>
                    <h5 class="text-success">4.</h5>
                    Далее придет код в приложение Telegram Desktop, которое вы открыли на компьютере.<br>
                    Вводим код.<br>
                    Далее потребует 2FA пароль. Он находится в скачанной папке с номером 'tdata' в файле 'password.txt'<br>
                    Вводим 2FA пароль.<br>
                    <br>
                    <h5 class="text-success">5.</h5>
                    После этого вы войдете в аккаунт на телефоне. Удачи в работе с аккаунтом!<br>
                    <br>
                    <h5 class="text-success">Если что-то не понятно, пишите нам, постараемся помочь.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
