{% extends 'shop/base_shop.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="card mt-5 mb-5">
                <div class="text-left">
                    <div class="card-header">
                        <h3 class="card-text text-left text-success">Правила магазина</h3>
                    </div>
                    <div class="card-body">
                        <br>
                        <h4 class="text-success">Правила, которые распостраняются на все аккаунты продаваемые в нашем магазине</h4>
                        <br>
                        <h5 class="text-success">1. Замена</h5>
                        
                        Замена осуществляется, если:<br>
                        <br>
                        1.1. Вы на написали в поддержку в течение первого часа после покупки<br>
                        <br>
                        1.2. Открытие аккаунта записано на видео, без на нарезок, по пунктам:<br>
                        <ul>
                            <li>1.2.1. Архив с данными от аккаунта скачивается с файлообменника mega.nz по ссылке из вашего заказа, которую видно на видео.
                            <li>1.2.2. В папку, где находится 'Telegram.exe' помещается папка 'tdata' из скачанного архива. Либо 'Telegram.exe' помещается в папку, где находится 'tdata'.<br>
                            <li>1.2.3. Открываете последнюю версию Telegram Desktop.
                            <li>1.2.4. Аккаунт не открылся.
                        </ul>
                        <br>
                        <h5 class="text-success">2. Возврат</h5>
                        
                        Возврат осуществляется, если:<br>
                        <br>
                        2.1. Выполнен пункт 1.<br>
                        <br>
                        2.2. В наличии нету аккаунта с такими же параметрами, что и преобретенный.<br>
                        <br>
                        <h5 class="text-success">К спорным моментам относимся с пониманием, пишите в поддержку.</h5><br>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
