{% extends 'shop/base_shop.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="card mt-5">
                <div class="text-left">
                    <div class="card-header">
                        <h3 class="card-text border-bottom text-success">Правила магазина</h3>
                    </div>
                    <div class="card-body">
                        Правила и условия, с которыми вы соглашаетесь при покупке товара:<br>
                        <br>
                        <p class="text-success">1.</p>
                        Гарантия на проверку аккаунта после покупки, составляет не более 12 часов (если в описании к аккаунтам на сайте, не указано индивидуальных сроков). Гарантия начинает действовать с момента получения клиентом товара.<br>
                        <br>
                        Если после покупки товара у вас возникли какие либо проблемы, сразу же обращайтесь в поддержку магазина (telegram), не затягивайте, чем быстрей вы напишите, тем больше шанс что вопрос решится в вашу пользу.<br>
                        <br>
                        При запросе клиента в техподдержку - ответ в течение 24 часов с момента запроса (обычно это происходит быстрей).<br>
                        <br>
                        Замена аккаунта возможна только в том случае, если аккаунт был изначально невалид/не верные данные/аккаунт удален/есть ограничения (если этот функционал был заявлен в описании к аккаунтам).<br>
                        <br>
                        Замена аккаунтов не производится, если аккаунт был изначально валид, а после вашего входа в него был заблокирован, сразу/после каких либо действий в нем. Вероятнее всего проблема на вашей стороне, и вы не соблюдали правила пользования аккаунтами.<br>
                        <br>
                        <p class="text-success">2.</p>
                        Возврат средств, если невалидный аккаунт заменить невозможно. Возврат может быть осуществлен только на баланс личного кабинета. Возврат средств на те реквизиты с которых производилась оплата, на усмотрение магазина (может быть учтена комиссия при переводе, если она составляет более 1%).<br>
                        Возврат средств или замена товара не производится, если клиент купил не те аккаунты, не подошли, был не внимательным. Вся ответственность за данные действия на покупателе.<br>
                        <br>
                        <p class="text-success">3.</p>
                        При использовании аккаунтов, купленных на сайте sveshshop.ru, Запрещено:<br>
                        <ul>
                            <li>Использовать свой оригинальный (локальный, домашний) IP-адрес;
                            <li>Использовать любые VPN-сервисы (платные, бесплатные);
                            <li>Использовать виртуальные машины, эмуляторы устройств, сервера (VPS, VDS);
                            <li>Использовать IPv6 – прокси, shared прокси, публичные прокси;
                            <li>Авторизовываться в 2-х и более аккаунтах,  используя 1 устройство и 1 прокси-сервер.
                            <li>Для 1 аккаунта должны быть использованы: IPv4/приватные мобильные/резидентные прокси и 1 новое устройство. В лучшем случае Антидетект браузер.
                            <li>Если эти правила были нарушены, магазин в праве отказать в замене невалидного товара.
                        </ul>
                        <br>
                        <p class="text-success">4.</p>
                        Гарантия на использование товара, распространяется на то, что в аккаунт можно войти по логину и паролю (если в описании не указано иного, например вход по Cookies).<br>
                        Если аккаунты не работают, или не корректно работают в сторонних (ваших) софтах/расширениях/скриптах и т.д - это не является поводом для замены/возврата средств.<br>
                        <br>
                        <p class="text-success">5.</p>
                        После покупки товара, в течении 12 часов, покупатель должен изменить на нем данные, на свои (пароль/почту и т.п), чтобы избежать случайные входы/смену данных от 3-их лиц.<br>
                        После получения товара, вся ответственность за сохранность аккаунтов, лежит на клиенте.<br>
                        Магазин не несет ответственность за товар, на котором были изменены данные спустя какое то время.<br>
                        <br>
                        <p class="text-success">6.</p>
                        После покупки товара, производите проверку/используйте его сразу. Не стоит откладывать на потом, т.к если вы обратитесь по истечении гарантийного срока, в замене может быть отказано, если товар оказался невалид.<br>
                        <br>
                        <p class="text-success">7.</p>
                        Покупатель обязуется не создавать лишний флуд/спам, оскорблять/использовать ненормативную лексику, в сторону магазина и его сотрудников, в противном случае магазин вправе отказать в обслуживании/заблокировать клиента без права на какую либо компенсацию.<br>
                        <br>
                        <p class="text-success">8.</p>
                        После получения товара, ПОКУПАТЕЛЬ обязуется сохранить товар у СЕБЯ, с возможностью дальнейшего использования, магазин НЕ является хранилищем купленного товара.<br>
                        <br>
                        <p class="text-success">9.</p>
                        Если покупатель, внес какие-либо изменения на купленном товаре, и только после обнаружил, что какие то доп данные у аккаунта не работают, и обратился с целью возврата/замены товара, то Покупателю может быть отказано в этом, из-за внесенных данных на аккаунте.<br>
                        <br>
                        <p class="text-success">10.</p>
                        Гарантия может оказаться не действительной, если вы обратились по истечении установленного срока. Независимо оттого, в сети поддержка, или нет, вы должны отправить запрос сразу же, после обнаружения какой либо проблемы с товаром.<br>
                        Обращение в поддержку должно содержать полноценное описание проблемы со всеми данными, такими как: номер заказа/почта/описание проблемы/скриншот проблемы/список проблемных аккаунтов.<br>
                        Чем дольше вы оттягиваете, и не предоставляете сразу полные данные, тем больше шанс на то, что в замене может быть отказано.<br>
                        <br>
                        <p class="text-success">11.</p>
                        Магазин sveshshop.ru и его сотрудники не оказывают следующие услуги:<br>
                        Не занимаются обучением использования аккаунтов и консультациями как работать с аккаунтами.<br>
                        При покупке аккаунтов, вы должны знать для чего вам требуются аккаунты, как в них правильно входить и использовать.<br>
                        Не оказывают любые другие услуги, кроме продажи аккаунтов.<br>
                        <br>
                        P.S. Незнание правил не освобождает от ответственности.<br>
                        Магазин вправе изменять правила без предварительного уведомления покупателей!<br>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
