{% extends 'shop/base_shop.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="card mt-5 mb-5">
            <div class="text-left">
                <div class="card-header">
                    <h3 class="card-text text-left text-success">Информация о формате tdata</h3>
                </div>
                <div class="card-body">
                    <br>
                    <h4 class="text-success">Убедитесь что ознакомлены с каждым из пунктов, перед тем как использовать аккаунты в формате tdata.</h4>
                    <br>
                    <h4 class="text-success">1.</h4>
                    Скачайте Telegram Desktop с официального сайта или обновите до последней версии.<br>
                    Иначе аккаунты, зарегистрированные на старую версию, могут не открыться.<br>
                    <br>
                    <h4 class="text-success">2.</h4>
                    Используйте качественные прокси, с уникальным IP для каждого аккаунта.<br>
                    При использовании VPN или бесплатных прокси вероятность бана повышается.<br>
                    <br>
                    <h4 class="text-success">3.</h4>
                    В скачанной папке с номером находится папка 'tdata'.<br>
                    Найдите папку, где находится приложение 'Telegram.exe' и перенесите туда папку 'tdata'<br>
                    Теперь вы сможете пользоваться необходимым аккаунтом, когда откроете Telegram Desktop.<br>
                    <br>
                    <h4 class="text-success">4.</h4>
                    Пароль 2FA находится в папке 'tdata'<br>
                    В файле 'password.txt'<br>
                    <br>
                    <h4 class="text-success">Если что-то не понятно, пишите нам, постараемся помочь.</h4>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
