<div class="change-color-block col-6 mb-5">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <p class="card-text border-bottom">Страна регистрации - {{ product.country.title }}</p>
            <p class="card-text border-bottom">Формат - {{ product.format.title }}</p>
            <p class="card-text border-bottom">Прошло дней с момента регистрации - {{ product.delay }}</p>
            <p class="card-text border-bottom">Осталось - {{ product.amount }} шт.</p>
            <p class="card-text border-bottom">Цена за 1 аккаунт - {{ product.price }} руб.</p>
            <div class="text-center">
                <a href="{{ product.get_absolute_url }}" class="btn btn-outline-success">Купить</a>
            </div>
        </div>
        <div class="change-color-block card-footer">
        </div>
    </div>
</div>
