{% extends 'shop/base_shop.html' %}
{% load account %}
{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            {% if request.user.is_authenticated %}
                <div class="card mt-5">
                    <div class="card-header">
                        <div class="text-center">
                            <h3>Aaio Оплата</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                                <form method="post" action="">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {% if field.errors %}
                                            <div class="alert alert-danger">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                        Введите сумму пополнения
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-outline-success">Пополнить</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
