{% extends 'shop/base_shop.html' %}

{% block title %}
    Успешное пополнение
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="card mt-5 border-dark">
                <div class="text-center">
                    <div class="card-header border-dark">
                        <h3>Успешное пополнение!</h3>
                    </div>
                    <div class="card-body">
                        {% if request.user.is_authenticated %}
                            <h5 class="card-text">На ваш аккаунт - {{ user_email }} зачислено {{ amount }} руб.</h5>
                        {% else %}
                            <a href="{% url 'account_login' %}" class="btn btn-outline-success">Для пополнения баланса войдите/зарегистрируйтесь</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}