{% extends 'shop/base_shop.html' %}

{% block title %}
    Успешное пополнение
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="card mt-5">
                <div class="text-center">
                    <div class="card-header">
                        <h3>Успешное пополнение!</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">На ваш аккаунт - {{ user_email }} зачислено {{ amount }} руб.</p>
                    </div>
                    <div class="card-footer">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}