{% extends 'shop/base_shop.html' %}

{% block title %}
    Выбор платежной системы
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
                <div class="text-center mt-5">
                    <h3>Выберите платежную систему для пополнения баланса</h3>
                </div>
<!--                <div class="card mt-5 border-dark">-->
<!--                    <div class="card-body">-->
<!--                        <div class="text-center">-->
<!--                            <a href="{% url 'freekassa_payment_system_url' %}" class="btn btn-outline-success">FreeKassa</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="card mt-5 border-dark">
                    <div class="card-body">
                        <div class="text-center">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'aaio_payment_system_url' %}" class="btn btn-outline-success">Aaio</a>
                            {% else %}
                                <a href="{% url 'account_login' %}" class="btn btn-outline-success">Для пополнения баланса войдите/зарегистрируйтесь</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
