{% extends 'shop/base_shop.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="card mt-5">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a href="{% url 'qiwi_payment_system_url' %}" class="btn btn-outline-success">Qiwi</a>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}