{% extends 'shop/base_shop.html' %}
{% load account %}
{% block title %}
    Пополнение баланса
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            {% if request.user.is_authenticated %}
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h3>FreeKassa Ожидание оплаты</h3>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
