{% extends 'shop/base_shop.html' %}
{% load account %}
{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="card mt-5">
                <div class="card-header">
                    <div class="text-center">
                        <h3>FreeKassa</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <form method="post" action="{% url 'freekassa_payment_system_url_status' %}">
                            {% csrf_token %}
                            {{ form.amount }}
<!--                                <button type="submit" class="btn btn-outline-success">Пополнить</button>-->
                            <input type='submit' name='pay' value='Оплатить'>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
