{% extends 'shop/base_shop.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="card mt-5">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <p>Оплата по Qiwi</p>
                    </div>
                    <form method='get' action='https://pay.freekassa.ru/'>
                        <input type='hidden' name='m' value={{m}}>
                        <input type='hidden' name='oa' value={{oa}}>
                        <input type='hidden' name='o' value={{o}}>
                        <input type='hidden' name='s' value={{s}}>
                        <input type='hidden' name='currency' value={{currency}}>
                        <input type='hidden' name='lang' value='ru'>
                        <input type='submit' name='pay' value='Оплатить'>
                    </form>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
